{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "endOfLine": "lf"
}
